<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<link href="css/style.css" type="text/css" rel="stylesheet" />
</head>
<body>
<h3>You are in Products Display Page</h3>
<h4>
<div class="container" align="center" ng-init="fetchProducts()">
	<!-- <label >Categories</label>
	<select name="Categories" id="Categories">
		<option value="-1">-Select Category-</option>
		<option ng-repeat="c in categories" value="{{c.categoryId}}" >{{c.categoryName}}</option>
	</select>
	<br> -->
	<br>

	<br>
	<div class="alert alert-info" ng-show="products.length == 0">No Products found</div>
	<br>
<table class="table table-bordered table-striped" ng-show="products.length > 0">

	<tr class="well">
        <td class="tdRight" colspan="4" >
            <a href="#/cart" title="go to shopping cart" ng-disabled="cart.getTotalCount() < 1">
                <i class="icon-shopping-cart" />
                <b>{{cart.getTotalCount()}}</b> items, <b>{{cart.getTotalPrice() | currency}}</b>
            </a>
        </td>
    </tr>
	<thead>
		<tr>
			<th style="text-align: center; width: 25px;">Id</th>
 			<th style="text-align: center;">Product Name | Product Desc</th>
			<th style="text-align: center;">Product Price</th>
			<th style="text-align: center;">Product Status</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="product in products">
			<td style="text-align: center;">{{product.productId}}</td>
			<img ng-src="images/products/{{product.productId}}.jpg" alt="{{product.productName}}" />
			<td><a href="#/home/{{product.productId}}"><b>{{product.productName}}</b></a><br />
            {{product.productDesc}}</td>				
			<td>{{product.productPrice}}</td>
			<td>{{product.productStatus}}</td>
			<td class="tdCenter">
            <a href="" ng-click="cart.addItem(product.productId, product.productName, product.productPrice, product.productDesc, 1)">
                add to cart
            </a>
        </td>
		</tr>
	</tbody>
</table>


</div>	
</h4>
<div>
</div>
</body>
</html>