<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
<title>Login Page</title>
<link href="css/style.css" type="text/css" rel="stylesheet" />
</head>
<body>
<div class="alert alert-error" ng-show="error">
    {{errorMessage}}
</div>
	<div class="container">
	<form name="lgnForm">
		<div align="center">
			<h3>PetStore Login Page!</h3>
		</div>
		<br>
			<h4> {{message}}</h4>
			<br>
		<div class="lt lgnlables">
			<label class="lablename lt">Email:*</label> <input class="lt fmt" type="email" name="uEmail" ng-model="userEmailId" required autofocus="" placeholder="Email" >
			<!-- <div class="lt nameError" ng-show="lgnForm.$submitted || lgnForm.uEmail.$touched">
				<font color="red"><span ng-show="lgnForm.uEmail.$error.required">Please enter email.</span>
				<span ng-show="lgnForm.uEmail.$error.email">Please enter a valid email.</span></font>
			</div> -->
		</div>
<br/>
		<div class="lt lgnlables">
			<label class="lablename lt">Password:*</label> <input class="lt fmt" type="password" name="password" ng-model="userPassword" required placeholder="Password" >
			<!-- <div class="lt nameError" ng-show="lgnForm.$submitted || lgnForm.password.$touched"> 
      			<font color="red"><span ng-show="lgnForm.password.$error.required">Please enter password.</span></font>
    		</div> -->
    	</div>		
		<br/>
		<div>
			<button class="sbmtbtn" ng-click="login()" ng-disabled="lgnForm.$invalid">Sign In</button>
		</div>
		</form>
	</div>
</body>
</html>